* {
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

@media (max-width: 768px) {
    body {
        padding: 90px 20px 0px;
    }
}

 
 .header {
    background-color: lightgrey;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
   
    
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
   
}

.nav-link {
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style:none ;
}

.nav-menu-iteam {
     font-size: 18px;
     margin: 0 10px;
     line-height: 80px;
     text-transform: uppercase;
     width: max-content;

}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover {
    background-color: white;
    transition: 0,5s;

}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}


